doctype html
html
  head
    title lux-nox
    meta(charset="utf-8")
    meta(name="author", content="Chris Harvey")
    meta(name="description", content="Solarized and Lunaried colors for any project.")
    link(rel="stylesheet", href="node_modules/xmeter/xmeter.min.css")
    link(rel="stylesheet", href="lux-nox.min.css")
    link(rel="stylesheet", href="doc/styles/doc.css")
  body
    main
      header
        h1 lux-nox
        p.
          This repo is specifically designed for using colors from the
          #[cite Solarized] and #[cite Lunarized] color schemes.
          These color schemes were originally designed for displaying computer code, though
          they can be applied #[abbr(title="practically") literally] anywhere.
          Import them into any project to use the variables and classes in your codebase.
      footer: p by #[a(href="https://github.com/chharvey/lux-nox/") Chris Harvey]
      section
        h2 Example
        figure.a-bc-s3(style="padding: 0.5rem;")
          pre
            span.a-c-sb
              | &lt;h3 
              span.a-c-sy
                | class=
                span.a-c-sc
                  span.a-c-sm &quot;
                  | a-bc-s03 a-c-lc
                  span.a-c-sm &quot;
              | &gt;
            | Solarized Base 03 background, Lunarized Cyan foreground!
            span.a-c-sb &lt;/h3&gt;
          h3.a-bc-s03.a-c-lc(style="padding: 0.5rem;") Solarized Base 03 background, Lunarized Cyan foreground!
      section
        h2 Description
        p Each color scheme contains 16 colors total, shared among two modes:
        ul
          li Light mode
            ul
              li light background
              li dark text
              li emphasis = darker text
              li side-comments = lighter text
          li Dark mode
            ul
              li dark background
              li light text
              li emphasis = lighter text
              li side-comments = darker text
        p Of the 16 colors in each scheme, there are 8 base colors and 8 accent colors:
        ul
          li Bases
            ul
              li dull tones
              li foreground, background, emphasis, comments
              li interchanged based on the mode
          li Accents
            ul
              li sharp tones
              li syntax highlighting
              li remain constant, independent of mode
      section
        h2 Inspiration and Construction
        p.
          #[cite Solarized] was developed by
          #[a(href="http://ethanschoonover.com/solarized") Ethan Schoonover].
          Inspired by his work, I developed the #[cite Lunarized] Scheme in an attempt to
          cool the Solarized Light background colors. I liked the idea of using a Light mode
          but I didn&rsquo;t like the yellowish tint. So I inverted the background color and
          it gave me a bluish tint, #[strong(title="hence, “lunar”") like the full moon]. I tried inverting the accent colors
          but got ugly results, so I complemented them instead.
        p.
          In the Lunarized Scheme, the bases are inverses of the Solarized Bases while
          the accents are complements of the Solarized Accents.
          The inverse of a color is a 180&deg; hue rotation of that color, while the complement
          of a color is the difference between that color and white.
        pre.
          inverse(@color)    : spin(@color, 180);
          complement(@color) : rgb( 255-red(@color), 255-green(@color), 255-blue(@color) );
      section
        h2 The Colors
        section.o-ListBare.o-FlexContainer
          h3.a-w-1o1 #[cite Solarized] Color Scheme
          section.o-ColorBox.a-bc-s03.h-darkbg
            h4 Solarized Base03
            p: code #002b36#[br].a-bc-s03#[br].a-c-s03
          section.o-ColorBox.a-bc-s02.h-darkbg.a-xo-1-s2.a-xo-z-s4
            h4 Solarized Base02
            p: code #073642#[br].a-bc-s02#[br].a-c-s02
          section.o-ColorBox.a-bc-s01.a-xo-2-s2.a-xo-z-s4
            h4 Solarized Base01
            p: code #586e75#[br].a-bc-s01#[br].a-c-s01
          section.o-ColorBox.a-bc-s00.a-xo-3-s2.a-xo-z-s4
            h4 Solarized Base00
            p: code #657b83#[br].a-bc-s00#[br].a-c-s00
          section.o-ColorBox.a-bc-s0.a-xo-3-s2.a-xo-z-s8
            h4 Solarized Base0
            p: code #839496#[br].a-bc-s0#[br].a-c-s0
          section.o-ColorBox.a-bc-s1.a-xo-2-s2.a-xo-z-s8
            h4 Solarized Base1
            p: code #93a1a1#[br].a-bc-s1#[br].a-c-s1
          section.o-ColorBox.a-bc-s2.a-xo-1-s2.a-xo-z-s8
            h4 Solarized Base2
            p: code #eee8d5#[br].a-bc-s2#[br].a-c-s2
          section.o-ColorBox.a-bc-s3
            h4 Solarized Base3
            p: code #fdf6e3#[br].a-bc-s3#[br].a-c-s3
          section.o-ColorBox.a-bc-sr.a-xo-4-s2
            h4 Solarized Red
            p: code #dc322f#[br].a-bc-sr#[br].a-c-sr
          section.o-ColorBox.a-bc-so.a-xo-5-s2.a-xo-4-s4
            h4 Solarized Orange
            p: code #cb4b16#[br].a-bc-so#[br].a-c-so
          section.o-ColorBox.a-bc-sy.a-xo-6-s2.a-xo-4-s4
            h4 Solarized Yellow
            p: code #b58900#[br].a-bc-sy#[br].a-c-sy
          section.o-ColorBox.a-bc-sg.a-xo-7-s2.a-xo-4-s4
            h4 Solarized Green
            p: code #859900#[br].a-bc-sg#[br].a-c-sg
          section.o-ColorBox.a-bc-sc.a-xo-4-s2
            h4 Solarized Cyan
            p: code #2aa198#[br].a-bc-sc#[br].a-c-sc
          section.o-ColorBox.a-bc-sb.a-xo-5-s2
            h4 Solarized Blue
            p: code #268bd2#[br].a-bc-sb#[br].a-c-sb
          section.o-ColorBox.a-bc-sv.a-xo-6-s2
            h4 Solarized Violet
            p: code #6c71c4#[br].a-bc-sv#[br].a-c-sv
          section.o-ColorBox.a-bc-sm.a-xo-7-s2
            h4 Solarized Magenta
            p: code #d33682#[br].a-bc-sm#[br].a-c-sm
        section.o-ListBare.o-FlexContainer
          h3.a-w-1o1 #[cite Lunarized] Color Scheme
          section.o-ColorBox.a-bc-l03.h-darkbg
            h4 Lunarized Base03
            p: code #360b00#[br].a-bc-l03#[br].a-c-l03
          section.o-ColorBox.a-bc-l02.h-darkbg.a-xo-1-s2.a-xo-z-s4
            h4 Lunarized Base02
            p: code #421307#[br].a-bc-l02#[br].a-c-l02
          section.o-ColorBox.a-bc-l01.a-xo-2-s2.a-xo-z-s4
            h4 Lunarized Base01
            p: code #755f58#[br].a-bc-l01#[br].a-c-l01
          section.o-ColorBox.a-bc-l00.a-xo-3-s2.a-xo-z-s4
            h4 Lunarized Base00
            p: code #836d65#[br].a-bc-l00#[br].a-c-l00
          section.o-ColorBox.a-bc-l0.a-xo-3-s2.a-xo-z-s8
            h4 Lunarized Base0
            p: code #968583#[br].a-bc-l0#[br].a-c-l0
          section.o-ColorBox.a-bc-l1.a-xo-2-s2.a-xo-z-s8
            h4 Lunarized Base1
            p: code #a19393#[br].a-bc-l1#[br].a-c-l1
          section.o-ColorBox.a-bc-l2.a-xo-1-s2.a-xo-z-s8
            h4 Lunarized Base2
            p: code #d5dbee#[br].a-bc-l2#[br].a-c-l2
          section.o-ColorBox.a-bc-l3
            h4 Lunarized Base3
            p: code #e3eafd#[br].a-bc-l3#[br].a-c-l3
          section.o-ColorBox.a-bc-lc.a-xo-4-s2
            h4 Lunarized Cyan
            p: code #23cdd0#[br].a-bc-lc#[br].a-c-lc
          section.o-ColorBox.a-bc-lb.a-xo-5-s2.a-xo-4-s4
            h4 Lunarized Blue
            p: code #34b4e9#[br].a-bc-lb#[br].a-c-lb
          section.o-ColorBox.a-bc-li.a-xo-6-s2.a-xo-4-s4
            h4 Lunarized Indigo
            p: code #4a76ff#[br].a-bc-li#[br].a-c-li
          section.o-ColorBox.a-bc-lv.a-xo-7-s2.a-xo-4-s4
            h4 Lunarized Violet
            p: code #7a66ff#[br].a-bc-lv#[br].a-c-lv
          section.o-ColorBox.a-bc-lr.a-xo-4-s2
            h4 Lunarized Red
            p: code #d55e67#[br].a-bc-lr#[br].a-c-lr
          section.o-ColorBox.a-bc-lo.a-xo-5-s2
            h4 Lunarized Orange
            p: code #d9742d#[br].a-bc-lo#[br].a-c-lo
          section.o-ColorBox.a-bc-ly.a-xo-6-s2
            h4 Lunarized Yellow
            p: code #938e3b#[br].a-bc-ly#[br].a-c-ly
          section.o-ColorBox.a-bc-lg.a-xo-7-s2
            h4 Lunarized Green
            p: code #2cc97d#[br].a-bc-lg#[br].a-c-lg
        section.o-ListBare.o-FlexContainer
          h3.a-w-1o1 #[cite Solarized] Color Scheme
          section.o-Box.a-w-1o2.a-bc-s03.h-darkbg
            h4 Solarized Base03
            ul
              li dark code background
          section.o-Box.a-w-1o2.a-bc-s3
            h4 Solarized Base3
            ul
              li light code background
          section.o-Box.a-w-1o2.a-bc-s02.h-darkbg
            h4 Solarized Base02
            ul
              li dark code border
          section.o-Box.a-w-1o2.a-bc-s2
            h4 Solarized Base2
            ul
              li light code border
          section.o-Box.a-w-1o2.a-bc-s01
            h4 Solarized Base01
            ul
              li light code emphasis
              li dark code comment
          section.o-Box.a-w-1o2.a-bc-s1
            h4 Solarized Base1
            ul
              li light code comment
              li dark code emphasis
          section.o-Box.a-w-1o2.a-bc-s00
            h4 Solarized Base00
            ul
              li light code text
          section.o-Box.a-w-1o2.a-bc-s0
            h4 Solarized Base0
            ul
              li dark code text
          section.o-Box.a-w-1o2.a-bc-sr
            h4 Solarized Red
            ul
              li programming control (#[code if], #[code for], #[code switch], #[code return])
              li other control (#[code public], #[code private], #[code static])
              li Jade buffered comments
              li CSS pseudo-elements and -classes
          section.o-Box.a-w-1o2.a-bc-sc
            h4 Solarized Cyan
            ul
              li HTML attribute values
              li CSS property values
              li strings (except in CSS#[sup: a.Rf#rf-cssstring(rel="this" href="#fn-cssstring") 2])
          section.o-Box.a-w-1o2.a-bc-so
            h4 Solarized Orange
            ul
              li delimiters and operators (#[code +], #[code ==], #[code .], #[code new], #[code typeof])
              li Jade class names
          section.o-Box.a-w-1o2.a-bc-sb
            h4 Solarized Blue
            ul
              li HTML/Jade tags
              li CSS/Less class selectors
              li JS function definitions and function calls
          section.o-Box.a-w-1o2.a-bc-sy
            h4 Solarized Yellow
            ul
              li HTML/Jade attribute names
              li CSS property names
              li pre-defined keywords and types (#[code var], #[code function], #[code int], #[code class])
          section.o-Box.a-w-1o2.a-bc-sv
            h4 Solarized Violet
            ul
              li variable names
              li function arguments
              li Jade tag interpolation
          section.o-Box.a-w-1o2.a-bc-sg
            h4 Solarized Green
            ul
              li HTML/Jade characters and entities
              li CSS numeric values with units
              li constant values (numbers, colors, booleans, #[code null])
          section.o-Box.a-w-1o2.a-bc-sm
            h4 Solarized Magenta
            ul
              li string delimiters (#[code &quot;] and #[code &apos;])
              li #[sup: a.Fn#fn-cssstring(rel="this" href="#rf-cssstring") 2]CSS strings
              li object/class/function references (custom, built-in, #[code this], #[code prototype], #[code String], #[code Array])
              li Jade id names
        section.o-ListBare.o-FlexContainer
          h3.a-w-1o1 #[cite Lunarized] Color Scheme
          section.o-Box.a-w-1o2.a-bc-l03.h-darkbg
            h4 Lunarized Base03
            ul
              li dark code background
          section.o-Box.a-w-1o2.a-bc-l3
            h4 Lunarized Base3
            ul
              li light code background
          section.o-Box.a-w-1o2.a-bc-l02.h-darkbg
            h4 Lunarized Base02
            ul
              li dark code border
          section.o-Box.a-w-1o2.a-bc-l2
            h4 Lunarized Base2
            ul
              li light code border
          section.o-Box.a-w-1o2.a-bc-l01
            h4 Lunarized Base01
            ul
              li light code emphasis
              li dark code comment
          section.o-Box.a-w-1o2.a-bc-l1
            h4 Lunarized Base1
            ul
              li light code comment
              li dark code emphasis
          section.o-Box.a-w-1o2.a-bc-l00
            h4 Lunarized Base00
            ul
              li light code text
          section.o-Box.a-w-1o2.a-bc-l0
            h4 Lunarized Base0
            ul
              li dark code text
          section.o-Box.a-w-1o2.a-bc-lc
            h4 Lunarized Cyan
          section.o-Box.a-w-1o2.a-bc-lr
            h4 Lunarized Red
          section.o-Box.a-w-1o2.a-bc-lb
            h4 Lunarized Blue
          section.o-Box.a-w-1o2.a-bc-lo
            h4 Lunarized Orange
          section.o-Box.a-w-1o2.a-bc-li
            h4 Lunarized Indigo
          section.o-Box.a-w-1o2.a-bc-ly
            h4 Lunarized Yellow
          section.o-Box.a-w-1o2.a-bc-lv
            h4 Lunarized Violet
          section.o-Box.a-w-1o2.a-bc-lg
            h4 Lunarized Green
      section
        h2 More Pages
        ul
          li: a(href="doc/code.html") The Code
          li: a(href="doc/accessibility.html") Accessibiltiy
