doctype html
html
  head
    title lux-nox
    meta(charset="utf-8")
    meta(name="author", content="Chris Harvey")
    meta(name="description", content="Testing Solarized and Lunaried color schemes on HTML elements.")
    link(rel="stylesheet", href="node_modules/xmeter/xmeter.min.css")
    link(rel="stylesheet", href="lux-nox.min.css")
    style.
      /* imported */
      .c-ListFootnotes {
        font-size: 12px;
        font-size: 0.75rem;
        line-height: 2;
        padding-left: 1rem;
        text-indent: -1rem;
        list-style: none;
      }
      .c-ListFootnotes::before {
        content: '';
        display: block;
        border-top-width: 1px;
        margin-top: -1px;
        border-top-style: solid;
        border-top-color: currentColor;
        position: relative;
        bottom: 0.75rem;
      }
      .c-ListFootnotes::before {
        width: 61.80339887%;
        margin-left: -1rem;
        opacity: 0.25;
      }
      .Rf,
      .Fn {
        quotes: '[' ']';
      }
      .Rf::before,
      .Fn::before {
        content: open-quote;
      }
      .Rf::after,
      .Fn::after {
        content: close-quote;
      }
    style.
      table {
        text-align: center;
      }
      th, td {
        padding: 0.25rem;
      }
      td {
        font-size: 1.5rem;
        vertical-align: middle;
      }
      table table {
        margin-left: auto;
        margin-right: auto;
        font-size: 0.75em;
        text-align: initial;
      }
      table footer {
        text-align: initial;
      }
      table table td {
        font-size: inherit;
        vertical-align: initial;
      }
      td[title] {
        text-decoration: underline;
      }
      td[title]:hover {
        cursor: help;
      }
      [data-rating="1"]::after,
      [data-rating="2"]::after,
      [data-rating="3"]::after,
      [data-rating="4"]::after {
        font-family: serif;
        margin-left: 1rem;
      }
      [data-rating="1"]::after { font-size: 0.33em; content: 'bad.';   }
      [data-rating="2"]::after { font-size: 0.67em; content: 'okay…';  }
      [data-rating="3"]::after { font-size: 1.00em; content: 'good!'; }
      [data-rating="4"]::after { font-size: 1.25em; content: 'great!!'; }
  body
    main
      header
        h1 lux-nox
        p A collection of Solarized and Lunarized colors.
      footer: p by #[a(href="https://github.com/chharvey/lux-nox/") Chris Harvey]
      section
        h2 Color Demonstrations
        table(style="width: 100%;")
          caption
            p.
              #[strong Table 1.]
              A demonstration of background colors and foreground colors.
              For brevity, the only background colors are Bases 03, 02, 2, and 3; and
              the only foreground colors are Bases 01, 00, 0, and 1, along with all accent colors.
              #[a(href="http://leaverou.github.io/contrast-ratio/") Contrast ratios] are shown each cell.
            table
              caption #[strong Table 1a.] A summary of contrast ratios.
              thead
                tr
                  th(scope="col") Contrast Ratio
                  th(scope="col") Level
                  th(scope="col") Keyword
                  th(scope="col") Description
              tbody
                tr
                  td &#x005b;1, 3.0&#x0029;
                  td 1
                  td bad.
                  td Fails #[a(href="https://www.w3.org/TR/WCAG/#visual-audio-contrast") WCAG 2.0]
                tr
                  td &#x005b;3.0, 4.5&#x0029;
                  td 2
                  td okay&hellip;
                  td Passes AA level for large text#[sup: a.Rf#rf-large1(href="#fn-large1") 1]
                tr
                  td &#x005b;4.5, 7.0&#x0029;
                  td 3
                  td good!
                  td Passes AA level for any size text and AAA for large text#[sup: a.Rf#rf-large2(href="#fn-large2") 2]
                tr
                  td &#x005b;7.0, 21&#x005d;
                  td 4
                  td great!!
                  td Passes AAA level for any size text
            footer: ul.c-ListFootnotes: li
              sup
                a.Fn#fn-large1(href="#rf-large1") 1
                a.Fn#fn-large2(href="#rf-large2") 2
              |  above 18pt, or above 14pt and bold
          colgroup
          colgroup
            col.a-bc-s03
            col.a-bc-s02
            col.a-bc-s2
            col.a-bc-s3
          colgroup
            col.a-bc-l03
            col.a-bc-l02
            col.a-bc-l2
            col.a-bc-l3
          thead
            tr(style="color: #808080;")
              td
              th(scope="col") Solarized Base 03
              th(scope="col") Solarized Base 02
              th(scope="col") Solarized Base 2
              th(scope="col") Solarized Base 3
              th(scope="col") Lunarized Base 03
              th(scope="col") Lunarized Base 02
              th(scope="col") Lunarized Base 2
              th(scope="col") Lunarized Base 3
          tbody
            tr.a-c-s01
              th(scope="row") Solarized Base01
              td(data-rating="1" title="sol dark comment") 2.8
              td(data-rating="1") 2.4
              td(data-rating="2") 4.4
              td(data-rating="3" title="sol light emphasis") 5.0
              td(data-rating="2") 3.2
              td(data-rating="1") 2.9
              td(data-rating="2") 3.9
              td(data-rating="3") 4.5
            tr.a-c-s00
              th(scope="row") Solarized Base00
              td(data-rating="2") 3.4
              td(data-rating="1") 2.9
              td(data-rating="2") 3.6
              td(data-rating="2" title="sol light text") 4.1
              td(data-rating="2") 3.9
              td(data-rating="2") 3.6
              td(data-rating="2") 3.2
              td(data-rating="2") 3.7
            tr.a-c-s0
              th(scope="row") Solarized Base0
              td(data-rating="3" title="sol dark text") 4.7
              td(data-rating="2") 4.1
              td(data-rating="1") 2.6
              td(data-rating="1") 2.9
              td(data-rating="3") 5.5
              td(data-rating="3") 5.0
              td(data-rating="1") 2.3
              td(data-rating="1") 2.6
            tr.a-c-s1
              th(scope="row") Solarized Base1
              td(data-rating="3" title="sol dark emphasis") 5.6
              td(data-rating="3") 4.9
              td(data-rating="1") 2.2
              td(data-rating="1" title="sol light comment") 2.5
              td(data-rating="3") 6.5
              td(data-rating="3") 5.9
              td(data-rating="1") 1.9
              td(data-rating="1") 2.2
            tr.a-c-sr
              th(scope="row") Solarized Red
              td(data-rating="2") 3.2
              td(data-rating="1") 2.8
              td(data-rating="2") 3.8
              td(data-rating="2") 4.3
              td(data-rating="2") 3.8
              td(data-rating="2") 3.4
              td(data-rating="2") 3.3
              td(data-rating="2") 3.8
            tr.a-c-so
              th(scope="row") Solarized Orange
              td(data-rating="2") 3.3
              td(data-rating="1") 2.8
              td(data-rating="2") 3.8
              td(data-rating="2") 4.3
              td(data-rating="2") 3.8
              td(data-rating="2") 3.4
              td(data-rating="2") 3.3
              td(data-rating="2") 3.8
            tr.a-c-sy
              th(scope="row") Solarized Yellow
              td(data-rating="3") 4.7
              td(data-rating="2") 4.1
              td(data-rating="1") 2.6
              td(data-rating="2") 3.0
              td(data-rating="3") 5.4
              td(data-rating="3") 4.9
              td(data-rating="1") 2.3
              td(data-rating="1") 2.7
            tr.a-c-sg
              th(scope="row") Solarized Green
              td(data-rating="3") 4.7
              td(data-rating="2") 4.1
              td(data-rating="1") 2.6
              td(data-rating="2") 3.0
              td(data-rating="3") 5.4
              td(data-rating="3") 4.9
              td(data-rating="1") 2.3
              td(data-rating="1") 2.7
            tr.a-c-sc
              th(scope="row") Solarized Cyan
              td(data-rating="3") 4.8
              td(data-rating="2") 4.1
              td(data-rating="1") 2.6
              td(data-rating="1") 2.9
              td(data-rating="3") 5.5
              td(data-rating="3") 5.0
              td(data-rating="1") 2.3
              td(data-rating="1") 2.6
            tr.a-c-sb
              th(scope="row") Solarized Blue
              td(data-rating="2") 4.1
              td(data-rating="2") 3.5
              td(data-rating="2") 3.0
              td(data-rating="2") 3.4
              td(data-rating="3") 4.7
              td(data-rating="2") 4.3
              td(data-rating="1") 2.7
              td(data-rating="2") 3.1
            tr.a-c-sv
              th(scope="row") Solarized Violet
              td(data-rating="2") 3.4
              td(data-rating="2") 3.0
              td(data-rating="2") 3.6
              td(data-rating="2") 4.1
              td(data-rating="2") 4.0
              td(data-rating="2") 3.6
              td(data-rating="2") 3.2
              td(data-rating="2") 3.6
            tr.a-c-sm
              th(scope="row") Solarized Magenta
              td(data-rating="2") 3.3
              td(data-rating="1") 2.9
              td(data-rating="2") 3.7
              td(data-rating="2") 4.2
              td(data-rating="2") 3.8
              td(data-rating="2") 3.5
              td(data-rating="2") 3.3
              td(data-rating="2") 3.8
          tbody
            tr.a-c-l01
              th(scope="row") Lunarized Base01
              td(data-rating="1") 2.5
              td(data-rating="1") 2.2
              td(data-rating="3") 4.8
              td(data-rating="3") 5.5
              td(data-rating="2" title="lun dark comment") 2.9
              td(data-rating="2") 2.7
              td(data-rating="2") 4.3
              td(data-rating="3" title="lun light emphasis") 4.9
            tr.a-c-l00
              th(scope="row") Lunarized Base00
              td(data-rating="2") 3.1
              td(data-rating="1") 2.7
              td(data-rating="2") 3.9
              td(data-rating="3") 4.5
              td(data-rating="2") 3.6
              td(data-rating="2") 3.3
              td(data-rating="2") 3.5
              td(data-rating="2" title="lun light text") 4.0
            tr.a-c-l0
              th(scope="row") Lunarized Base0
              td(data-rating="2") 4.3
              td(data-rating="2") 3.7
              td(data-rating="1") 2.9
              td(data-rating="2") 3.3
              td(data-rating="3" title="lun dark text") 5.0
              td(data-rating="3") 4.5
              td(data-rating="1") 2.5
              td(data-rating="1") 2.9
            tr.a-c-l1
              th(scope="row") Lunarized Base1
              td(data-rating="3") 5.1
              td(data-rating="2") 4.4
              td(data-rating="1") 2.4
              td(data-rating="1") 2.7
              td(data-rating="3" title="lun dark emphasis") 5.9
              td(data-rating="3") 5.4
              td(data-rating="1") 2.1
              td(data-rating="1" title="lun light comment") 2.5
            tr.a-c-lc
              th(scope="row") Lunarized Cyan
              td(data-rating="4") 7.7
              td(data-rating="3") 6.6
              td(data-rating="1") 1.6
              td(data-rating="1") 1.8
              td(data-rating="4") 8.9
              td(data-rating="4") 8.1
              td(data-rating="1") 1.4
              td(data-rating="1") 1.6
            tr.a-c-lb
              th(scope="row") Lunarized Blue
              td(data-rating="3") 6.3
              td(data-rating="3") 5.5
              td(data-rating="1") 1.9
              td(data-rating="1") 2.2
              td(data-rating="4") 7.3
              td(data-rating="3") 6.7
              td(data-rating="1") 1.7
              td(data-rating="1") 2.0
            tr.a-c-li
              th(scope="row") Lunarized Indigo
              td(data-rating="2") 3.8
              td(data-rating="2") 3.3
              td(data-rating="2") 3.2
              td(data-rating="2") 3.7
              td(data-rating="2") 4.4
              td(data-rating="2") 4.0
              td(data-rating="1") 2.9
              td(data-rating="2") 3.3
            tr.a-c-lv
              th(scope="row") Lunarized Violet
              td(data-rating="2") 3.7
              td(data-rating="2") 3.2
              td(data-rating="2") 3.3
              td(data-rating="2") 3.8
              td(data-rating="2") 4.3
              td(data-rating="2") 3.9
              td(data-rating="1") 2.9
              td(data-rating="2") 3.4
            tr.a-c-lr
              th(scope="row") Lunarized Red
              td(data-rating="2") 4.0
              td(data-rating="2") 3.5
              td(data-rating="2") 3.0
              td(data-rating="2") 3.5
              td(data-rating="3") 4.7
              td(data-rating="2") 4.2
              td(data-rating="1") 2.7
              td(data-rating="2") 3.1
            tr.a-c-lo
              th(scope="row") Lunarized Orange
              td(data-rating="3") 4.6
              td(data-rating="2") 4.0
              td(data-rating="1") 2.6
              td(data-rating="2") 3.0
              td(data-rating="3") 5.4
              td(data-rating="3") 4.9
              td(data-rating="1") 2.3
              td(data-rating="1") 2.7
            tr.a-c-ly
              th(scope="row") Lunarized Yellow
              td(data-rating="2") 4.4
              td(data-rating="2") 3.8
              td(data-rating="1") 2.8
              td(data-rating="2") 3.2
              td(data-rating="3") 5.1
              td(data-rating="3") 4.6
              td(data-rating="1") 2.5
              td(data-rating="1") 2.8
            tr.a-c-lg
              th(scope="row") Lunarized Green
              td(data-rating="4") 7.0
              td(data-rating="3") 6.0
              td(data-rating="1") 1.8
              td(data-rating="1") 2.0
              td(data-rating="4") 8.1
              td(data-rating="4") 7.3
              td(data-rating="1") 1.6
              td(data-rating="1") 1.8
      section
        h2 Code
        section#background-color
          h3 Background Colors
          div.a-bc-s03 .a-bc-s03 { background-color: #002b36 !important; } /* Solarized Base03  */
          div.a-bc-s02 .a-bc-s02 { background-color: #073642 !important; } /* Solarized Base02  */
          div.a-bc-s01 .a-bc-s01 { background-color: #586e75 !important; } /* Solarized Base01  */
          div.a-bc-s00 .a-bc-s00 { background-color: #657b83 !important; } /* Solarized Base00  */
          div.a-bc-s0  .a-bc-s0  { background-color: #839496 !important; } /* Solarized Base0   */
          div.a-bc-s1  .a-bc-s1  { background-color: #93a1a1 !important; } /* Solarized Base1   */
          div.a-bc-s2  .a-bc-s2  { background-color: #eee8d5 !important; } /* Solarized Base2   */
          div.a-bc-s3  .a-bc-s3  { background-color: #fdf6e3 !important; } /* Solarized Base3   */
          div.a-bc-sr  .a-bc-sr  { background-color: #dc322f !important; } /* Solarized Red     */
          div.a-bc-so  .a-bc-so  { background-color: #cb4b16 !important; } /* Solarized Orange  */
          div.a-bc-sy  .a-bc-sy  { background-color: #b58900 !important; } /* Solarized Yellow  */
          div.a-bc-sg  .a-bc-sg  { background-color: #859900 !important; } /* Solarized Green   */
          div.a-bc-sc  .a-bc-sc  { background-color: #2aa198 !important; } /* Solarized Cyan    */
          div.a-bc-sb  .a-bc-sb  { background-color: #268bd2 !important; } /* Solarized Blue    */
          div.a-bc-sv  .a-bc-sv  { background-color: #6c71c4 !important; } /* Solarized Violet  */
          div.a-bc-sm  .a-bc-sm  { background-color: #d33682 !important; } /* Solarized Magenta */
          div.a-bc-l03 .a-bc-l03 { background-color: #360b00 !important; } /* Lunarized Base03  */
          div.a-bc-l02 .a-bc-l02 { background-color: #421307 !important; } /* Lunarized Base02  */
          div.a-bc-l01 .a-bc-l01 { background-color: #755f58 !important; } /* Lunarized Base01  */
          div.a-bc-l00 .a-bc-l00 { background-color: #836d65 !important; } /* Lunarized Base00  */
          div.a-bc-l0  .a-bc-l0  { background-color: #968583 !important; } /* Lunarized Base0   */
          div.a-bc-l1  .a-bc-l1  { background-color: #a19393 !important; } /* Lunarized Base1   */
          div.a-bc-l2  .a-bc-l2  { background-color: #d5dbee !important; } /* Lunarized Base2   */
          div.a-bc-l3  .a-bc-l3  { background-color: #e3eafd !important; } /* Lunarized Base3   */
          div.a-bc-lc  .a-bc-lc  { background-color: #23cdd0 !important; } /* Lunarized Cyan    */
          div.a-bc-lb  .a-bc-lb  { background-color: #34b4e9 !important; } /* Lunarized Blue    */
          div.a-bc-li  .a-bc-li  { background-color: #4a76ff !important; } /* Lunarized Indigo  */
          div.a-bc-lv  .a-bc-lv  { background-color: #7a66ff !important; } /* Lunarized Violet  */
          div.a-bc-lr  .a-bc-lr  { background-color: #d55e67 !important; } /* Lunarized Red     */
          div.a-bc-lo  .a-bc-lo  { background-color: #d9742d !important; } /* Lunarized Orange  */
          div.a-bc-ly  .a-bc-ly  { background-color: #938e3b !important; } /* Lunarized Yellow  */
          div.a-bc-lg  .a-bc-lg  { background-color: #2cc97d !important; } /* Lunarized Green   */
        section#color
          h3 Text Colors
          div.a-c-s03  .a-c-s03  {            color: #002b36 !important; } /* Solarized Base03  */
          div.a-c-s02  .a-c-s02  {            color: #073642 !important; } /* Solarized Base02  */
          div.a-c-s01  .a-c-s01  {            color: #586e75 !important; } /* Solarized Base01  */
          div.a-c-s00  .a-c-s00  {            color: #657b83 !important; } /* Solarized Base00  */
          div.a-c-s0   .a-c-s0   {            color: #839496 !important; } /* Solarized Base0   */
          div.a-c-s1   .a-c-s1   {            color: #93a1a1 !important; } /* Solarized Base1   */
          div.a-c-s2   .a-c-s2   {            color: #eee8d5 !important; } /* Solarized Base2   */
          div.a-c-s3   .a-c-s3   {            color: #fdf6e3 !important; } /* Solarized Base3   */
          div.a-c-sr   .a-c-sr   {            color: #dc322f !important; } /* Solarized Red     */
          div.a-c-so   .a-c-so   {            color: #cb4b16 !important; } /* Solarized Orange  */
          div.a-c-sy   .a-c-sy   {            color: #b58900 !important; } /* Solarized Yellow  */
          div.a-c-sg   .a-c-sg   {            color: #859900 !important; } /* Solarized Green   */
          div.a-c-sc   .a-c-sc   {            color: #2aa198 !important; } /* Solarized Cyan    */
          div.a-c-sb   .a-c-sb   {            color: #268bd2 !important; } /* Solarized Blue    */
          div.a-c-sv   .a-c-sv   {            color: #6c71c4 !important; } /* Solarized Violet  */
          div.a-c-sm   .a-c-sm   {            color: #d33682 !important; } /* Solarized Magenta */
          div.a-c-l03  .a-c-l03  {            color: #360b00 !important; } /* Lunarized Base03  */
          div.a-c-l02  .a-c-l02  {            color: #421307 !important; } /* Lunarized Base02  */
          div.a-c-l01  .a-c-l01  {            color: #755f58 !important; } /* Lunarized Base01  */
          div.a-c-l00  .a-c-l00  {            color: #836d65 !important; } /* Lunarized Base00  */
          div.a-c-l0   .a-c-l0   {            color: #968583 !important; } /* Lunarized Base0   */
          div.a-c-l1   .a-c-l1   {            color: #a19393 !important; } /* Lunarized Base1   */
          div.a-c-l2   .a-c-l2   {            color: #d5dbee !important; } /* Lunarized Base2   */
          div.a-c-l3   .a-c-l3   {            color: #e3eafd !important; } /* Lunarized Base3   */
          div.a-c-lc   .a-c-lc   {            color: #23cdd0 !important; } /* Lunarized Cyan    */
          div.a-c-lb   .a-c-lb   {            color: #34b4e9 !important; } /* Lunarized Blue    */
          div.a-c-li   .a-c-li   {            color: #4a76ff !important; } /* Lunarized Indigo  */
          div.a-c-lv   .a-c-lv   {            color: #7a66ff !important; } /* Lunarized Violet  */
          div.a-c-lr   .a-c-lr   {            color: #d55e67 !important; } /* Lunarized Red     */
          div.a-c-lo   .a-c-lo   {            color: #d9742d !important; } /* Lunarized Orange  */
          div.a-c-ly   .a-c-ly   {            color: #938e3b !important; } /* Lunarized Yellow  */
          div.a-c-lg   .a-c-lg   {            color: #2cc97d !important; } /* Lunarized Green   */
