doctype html
html
  head
    title The Code  |  lux-nox
    meta(charset="utf-8")
    link(rel="stylesheet", href="../node_modules/xmeter/xmeter.min.css")
    link(rel="stylesheet", href="../lux-nox.min.css")
    link(rel="stylesheet", href="styles/doc.css")
  body
    main
      h1 lux-nox &mdash; The Code
      section#background-color
        h2 Background Colors
        ul
          li.a-bc-s03 .a-bc-s03 { background-color: #002b36 !important; } /* Solarized Base03  */
          li.a-bc-s02 .a-bc-s02 { background-color: #073642 !important; } /* Solarized Base02  */
          li.a-bc-s01 .a-bc-s01 { background-color: #586e75 !important; } /* Solarized Base01  */
          li.a-bc-s00 .a-bc-s00 { background-color: #657b83 !important; } /* Solarized Base00  */
          li.a-bc-s0  .a-bc-s0  { background-color: #839496 !important; } /* Solarized Base0   */
          li.a-bc-s1  .a-bc-s1  { background-color: #93a1a1 !important; } /* Solarized Base1   */
          li.a-bc-s2  .a-bc-s2  { background-color: #eee8d5 !important; } /* Solarized Base2   */
          li.a-bc-s3  .a-bc-s3  { background-color: #fdf6e3 !important; } /* Solarized Base3   */
          li.a-bc-sr  .a-bc-sr  { background-color: #dc322f !important; } /* Solarized Red     */
          li.a-bc-so  .a-bc-so  { background-color: #cb4b16 !important; } /* Solarized Orange  */
          li.a-bc-sy  .a-bc-sy  { background-color: #b58900 !important; } /* Solarized Yellow  */
          li.a-bc-sg  .a-bc-sg  { background-color: #859900 !important; } /* Solarized Green   */
          li.a-bc-sc  .a-bc-sc  { background-color: #2aa198 !important; } /* Solarized Cyan    */
          li.a-bc-sb  .a-bc-sb  { background-color: #268bd2 !important; } /* Solarized Blue    */
          li.a-bc-sv  .a-bc-sv  { background-color: #6c71c4 !important; } /* Solarized Violet  */
          li.a-bc-sm  .a-bc-sm  { background-color: #d33682 !important; } /* Solarized Magenta */
          li.a-bc-l03 .a-bc-l03 { background-color: #360b00 !important; } /* Lunarized Base03  */
          li.a-bc-l02 .a-bc-l02 { background-color: #421307 !important; } /* Lunarized Base02  */
          li.a-bc-l01 .a-bc-l01 { background-color: #755f58 !important; } /* Lunarized Base01  */
          li.a-bc-l00 .a-bc-l00 { background-color: #836d65 !important; } /* Lunarized Base00  */
          li.a-bc-l0  .a-bc-l0  { background-color: #968583 !important; } /* Lunarized Base0   */
          li.a-bc-l1  .a-bc-l1  { background-color: #a19393 !important; } /* Lunarized Base1   */
          li.a-bc-l2  .a-bc-l2  { background-color: #d5dbee !important; } /* Lunarized Base2   */
          li.a-bc-l3  .a-bc-l3  { background-color: #e3eafd !important; } /* Lunarized Base3   */
          li.a-bc-lc  .a-bc-lc  { background-color: #23cdd0 !important; } /* Lunarized Cyan    */
          li.a-bc-lb  .a-bc-lb  { background-color: #34b4e9 !important; } /* Lunarized Blue    */
          li.a-bc-li  .a-bc-li  { background-color: #4a76ff !important; } /* Lunarized Indigo  */
          li.a-bc-lv  .a-bc-lv  { background-color: #7a66ff !important; } /* Lunarized Violet  */
          li.a-bc-lr  .a-bc-lr  { background-color: #d55e67 !important; } /* Lunarized Red     */
          li.a-bc-lo  .a-bc-lo  { background-color: #d9742d !important; } /* Lunarized Orange  */
          li.a-bc-ly  .a-bc-ly  { background-color: #938e3b !important; } /* Lunarized Yellow  */
          li.a-bc-lg  .a-bc-lg  { background-color: #2cc97d !important; } /* Lunarized Green   */
      section#color
        h2 Text Colors
        ul
          li.a-c-s03  .a-c-s03  {            color: #002b36 !important; } /* Solarized Base03  */
          li.a-c-s02  .a-c-s02  {            color: #073642 !important; } /* Solarized Base02  */
          li.a-c-s01  .a-c-s01  {            color: #586e75 !important; } /* Solarized Base01  */
          li.a-c-s00  .a-c-s00  {            color: #657b83 !important; } /* Solarized Base00  */
          li.a-c-s0   .a-c-s0   {            color: #839496 !important; } /* Solarized Base0   */
          li.a-c-s1   .a-c-s1   {            color: #93a1a1 !important; } /* Solarized Base1   */
          li.a-c-s2   .a-c-s2   {            color: #eee8d5 !important; } /* Solarized Base2   */
          li.a-c-s3   .a-c-s3   {            color: #fdf6e3 !important; } /* Solarized Base3   */
          li.a-c-sr   .a-c-sr   {            color: #dc322f !important; } /* Solarized Red     */
          li.a-c-so   .a-c-so   {            color: #cb4b16 !important; } /* Solarized Orange  */
          li.a-c-sy   .a-c-sy   {            color: #b58900 !important; } /* Solarized Yellow  */
          li.a-c-sg   .a-c-sg   {            color: #859900 !important; } /* Solarized Green   */
          li.a-c-sc   .a-c-sc   {            color: #2aa198 !important; } /* Solarized Cyan    */
          li.a-c-sb   .a-c-sb   {            color: #268bd2 !important; } /* Solarized Blue    */
          li.a-c-sv   .a-c-sv   {            color: #6c71c4 !important; } /* Solarized Violet  */
          li.a-c-sm   .a-c-sm   {            color: #d33682 !important; } /* Solarized Magenta */
          li.a-c-l03  .a-c-l03  {            color: #360b00 !important; } /* Lunarized Base03  */
          li.a-c-l02  .a-c-l02  {            color: #421307 !important; } /* Lunarized Base02  */
          li.a-c-l01  .a-c-l01  {            color: #755f58 !important; } /* Lunarized Base01  */
          li.a-c-l00  .a-c-l00  {            color: #836d65 !important; } /* Lunarized Base00  */
          li.a-c-l0   .a-c-l0   {            color: #968583 !important; } /* Lunarized Base0   */
          li.a-c-l1   .a-c-l1   {            color: #a19393 !important; } /* Lunarized Base1   */
          li.a-c-l2   .a-c-l2   {            color: #d5dbee !important; } /* Lunarized Base2   */
          li.a-c-l3   .a-c-l3   {            color: #e3eafd !important; } /* Lunarized Base3   */
          li.a-c-lc   .a-c-lc   {            color: #23cdd0 !important; } /* Lunarized Cyan    */
          li.a-c-lb   .a-c-lb   {            color: #34b4e9 !important; } /* Lunarized Blue    */
          li.a-c-li   .a-c-li   {            color: #4a76ff !important; } /* Lunarized Indigo  */
          li.a-c-lv   .a-c-lv   {            color: #7a66ff !important; } /* Lunarized Violet  */
          li.a-c-lr   .a-c-lr   {            color: #d55e67 !important; } /* Lunarized Red     */
          li.a-c-lo   .a-c-lo   {            color: #d9742d !important; } /* Lunarized Orange  */
          li.a-c-ly   .a-c-ly   {            color: #938e3b !important; } /* Lunarized Yellow  */
          li.a-c-lg   .a-c-lg   {            color: #2cc97d !important; } /* Lunarized Green   */
