doctype html
html(lang="en")
  block vars
    include scripts/lux-nox.js.jade
    - var page_names = ['lux-nox']
  head
    title= page_names.reduceRight(function (a,b) { return a + ' | ' + b })
    meta(charset="utf-8")
    meta(name="author" content="Chris Harvey")
    meta(name="description" content="Solarized and Lunaried colors for any project.")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/v4.0.0/xmeter.min.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.8.0/bangs.min.css")
    link(rel="stylesheet" href="../lux-nox.css")
    link(rel="stylesheet" href="styles/docs.css")
  body
    block body
      main
        block main
          header
            block header
              h1!= page_names.reduce(function (a, b) { return a + ' &mdash; ' + b })
      script(src="//code.jquery.com/jquery-1.12.0.min.js")
