extends _docs.tpl.pug

block append vars
  - var page = Docs.SITE.find('accessibility.html')

block append main
  section
    -
      var rows = [
        Docs.SOLARIZED.getColor('Solarized Base01')
      , Docs.SOLARIZED.getColor('Solarized Base00')
      , Docs.SOLARIZED.getColor('Solarized Base0')
      , Docs.SOLARIZED.getColor('Solarized Base1')
      , Docs.SOLARIZED.getColor('Solarized Red')
      , Docs.SOLARIZED.getColor('Solarized Orange')
      , Docs.SOLARIZED.getColor('Solarized Yellow')
      , Docs.SOLARIZED.getColor('Solarized Green')
      , Docs.SOLARIZED.getColor('Solarized Cyan')
      , Docs.SOLARIZED.getColor('Solarized Blue')
      , Docs.SOLARIZED.getColor('Solarized Violet')
      , Docs.SOLARIZED.getColor('Solarized Magenta')
      , Docs.LUNARIZED.getColor('Lunarized Base01')
      , Docs.LUNARIZED.getColor('Lunarized Base00')
      , Docs.LUNARIZED.getColor('Lunarized Base0')
      , Docs.LUNARIZED.getColor('Lunarized Base1')
      , Docs.LUNARIZED.getColor('Lunarized Cyan')
      , Docs.LUNARIZED.getColor('Lunarized Blue')
      , Docs.LUNARIZED.getColor('Lunarized Indigo')
      , Docs.LUNARIZED.getColor('Lunarized Violet')
      , Docs.LUNARIZED.getColor('Lunarized Red')
      , Docs.LUNARIZED.getColor('Lunarized Orange')
      , Docs.LUNARIZED.getColor('Lunarized Yellow')
      , Docs.LUNARIZED.getColor('Lunarized Green')
      ]
      var cols = [
        Docs.SOLARIZED.getColor('Solarized Base03')
      , Docs.SOLARIZED.getColor('Solarized Base02')
      , Docs.SOLARIZED.getColor('Solarized Base2')
      , Docs.SOLARIZED.getColor('Solarized Base3')
      , Docs.LUNARIZED.getColor('Lunarized Base03')
      , Docs.LUNARIZED.getColor('Lunarized Base02')
      , Docs.LUNARIZED.getColor('Lunarized Base2')
      , Docs.LUNARIZED.getColor('Lunarized Base3')
      ]
    h2 Table of Contrast Ratios
    table.c-CrTable
      caption
        p.
          A demonstration of background colors and foreground colors.
          For brevity, the only background colors are Bases 03, 02, 2, and 3; and
          the only foreground colors are Bases 01, 00, 0, and 1, along with all accent colors.
          #[a(href="#contrast-ratio-table") Contrast ratios] are shown in each cell.
      colgroup
      colgroup
        each $namedColor in cols.slice(0,4)
          col(class=$namedColor.bgClass())
      colgroup
        each $namedColor in cols.slice(4)
          col(class=$namedColor.bgClass())
      thead
        tr
          td
          each $namedColor in cols
            th(scope="col")= $namedColor.name()
      mixin tableRow($named_fg)
        tr(class=$named_fg.fgClass())
          th(scope="row")= $named_fg.name()
          each $named_bg in cols
            - var ratio = Math.round($named_fg.contrastRatio($named_bg)*100)/100
            td(data-rating=(function (r) {
              var bounds = [3, 4.5, 7]
              var value = 1
              for (var i in bounds) if (r >= bounds[i]) value += 1
              return value
            })(ratio))= ratio
      tbody
        each color in rows.slice(0,12)
          +tableRow(color)
      tbody
        each color in rows.slice(12)
          +tableRow(color)
    p The #[a(href="use.html") Suggested Use] page demonstrates the most accessible contrast ratios.
    table.-mh-a#contrast-ratio-table(style="font-size: 0.75rem; line-height: 2;")
      caption
        | A summary of #[a(href="http://leaverou.github.io/contrast-ratio/") contrast ratios].
        br
        small #[dfn Large text] is defined as above 18pt (24px), or above 14pt (19px) and bold.
      thead
        tr
          th(scope="col") Contrast Ratio
          th(scope="col") Level
          th(scope="col") Keyword
          th(scope="col") Description
      tbody
        tr
          td &#x005b;1, 3.0&#x0029;
          td 1
          td bad.
          td Fails #[a(href="https://www.w3.org/TR/WCAG/#visual-audio-contrast") WCAG 2.0]
        tr
          td &#x005b;3.0, 4.5&#x0029;
          td 2
          td okay&hellip;
          td Passes AA level for large text
        tr
          td &#x005b;4.5, 7.0&#x0029;
          td 3
          td good!
          td Passes AA level for any size text and AAA for large text
        tr
          td &#x005b;7.0, 21&#x005d;
          td 4
          td great!!
          td Passes AAA level for any size text
