extends _docs.tpl.pug

block append vars
  - var page = Docs.SITE.find('index.html')

block append header
  p.
    This repo is specifically designed for using colors from the
    #[cite Solarized] and #[cite Lunarized] color schemes.
    These color schemes were originally designed for displaying computer code, though
    they can be applied #[abbr(title="practically") literally] anywhere.
    Import them into any project to use the variables and classes in your codebase.

block append main
  footer: p by #[a(href="https://github.com/chharvey/lux-nox/") Chris Harvey]
  section
    h2 Example
    figure.o-Box.-bc-s3.-c-s00
      pre.
        #[span.-c-sb &lt;h3 #[span.-c-sy class=#[span.-c-sc #[span.-c-sm &quot;]-bc-s03  -c-lc#[span.-c-sm &quot;]]]&gt;]Solarized Base03 background, Lunarized Cyan foreground!#[span.-c-sb &lt;&#x002f;h3&gt;]
        #[span.-c-sb &lt;h4 #[span.-c-sy class=#[span.-c-sc #[span.-c-sm &quot;]-rc-sb#[span.-c-sm &quot;]]]&gt;]Solarized Blue border!#[span.-c-sb &lt;&#x002f;h4&gt;]
      h3.o-Box.-bc-s03.-c-lc Solarized Base03 background, Lunarized Cyan foreground!
      h4.o-Box.-rc-sb(style="border: 3px solid;") Solarized Blue border!
  section
    h2 Description
    p Each color scheme contains 16 colors total, shared among two modes:
    ul
      li Dark mode
        ul
          li medium-light text  (Base0)
          li light emphasis     (Base1)
          li dark de-emphasis   (Base01)
          li darker highlight   (Base02)
          li darkest background (Base03)
      li Light mode
        ul
          li medium-dark text    (Base00)
          li dark emphasis       (Base01)
          li light de-emphasis   (Base1)
          li lighter highlight   (Base2)
          li lightest background (Base3)
    p Of the 16 colors in each scheme, there are 8 base colors and 8 accent colors:
    ul
      li Bases
        ul
          li dull tones
          li foreground, emphasis, de-emphasis, highlight, background
          li interchanged based on the mode
      li Accents
        ul
          li sharp tones
          li syntax highlighting
          li remain constant, independent of mode
  section
    mixin colorBox($namedColor)
      li.o-List__Item.o-ColorBox(class=[ $namedColor.bgClass(), { 'h-darkbg': ['03', '02'].indexOf($namedColor.name().slice(14)) >= 0 } ])
        h4= $namedColor.name()
        pre.
          #{$namedColor.toString('hex')}
          #{$namedColor.bgClass()}
          #{$namedColor.fgClass()}
          #{$namedColor.brClass()}
    h2 The Colors
    each scheme in [Docs.SOLARIZED, Docs.LUNARIZED]
      section
        h3 #[cite= scheme._NAME] Color Scheme
        ul.o-List.o-ColorBoxGrid
          each color in scheme._colors
            +colorBox(color)
    p: a(href="sample.html") See samples in action.
  nav
    h2 More Pages
    ul
      li: a(href="sample.html") Sample
      li: a(href="use.html") Suggested Use
      li: a(href="accessibility.html") Accessibiltiy
