-
  var scheme = {
    'Solarized' : {
      base03  : { name: 'Solarized Base03'  , code: '#002b36' , bg_class: 'a-bc-s03' , fg_class: 'a-c-s03' }
    , base02  : { name: 'Solarized Base02'  , code: '#073642' , bg_class: 'a-bc-s02' , fg_class: 'a-c-s02' }
    , base01  : { name: 'Solarized Base01'  , code: '#586e75' , bg_class: 'a-bc-s01' , fg_class: 'a-c-s01' }
    , base00  : { name: 'Solarized Base00'  , code: '#657b83' , bg_class: 'a-bc-s00' , fg_class: 'a-c-s00' }
    , base0   : { name: 'Solarized Base0'   , code: '#839496' , bg_class: 'a-bc-s0'  , fg_class: 'a-c-s0'  }
    , base1   : { name: 'Solarized Base1'   , code: '#93a1a1' , bg_class: 'a-bc-s1'  , fg_class: 'a-c-s1'  }
    , base2   : { name: 'Solarized Base2'   , code: '#eee8d5' , bg_class: 'a-bc-s2'  , fg_class: 'a-c-s2'  }
    , base3   : { name: 'Solarized Base3'   , code: '#fdf6e3' , bg_class: 'a-bc-s3'  , fg_class: 'a-c-s3'  }
    , red     : { name: 'Solarized Red'     , code: '#dc322f' , bg_class: 'a-bc-sr'  , fg_class: 'a-c-sr'  }
    , orange  : { name: 'Solarized Orange'  , code: '#cb4b16' , bg_class: 'a-bc-so'  , fg_class: 'a-c-so'  }
    , yellow  : { name: 'Solarized Yellow'  , code: '#b58900' , bg_class: 'a-bc-sy'  , fg_class: 'a-c-sy'  }
    , green   : { name: 'Solarized Green'   , code: '#859900' , bg_class: 'a-bc-sg'  , fg_class: 'a-c-sg'  }
    , cyan    : { name: 'Solarized Cyan'    , code: '#2aa198' , bg_class: 'a-bc-sc'  , fg_class: 'a-c-sc'  }
    , blue    : { name: 'Solarized Blue'    , code: '#268bd2' , bg_class: 'a-bc-sb'  , fg_class: 'a-c-sb'  }
    , violet  : { name: 'Solarized Violet'  , code: '#6c71c4' , bg_class: 'a-bc-sv'  , fg_class: 'a-c-sv'  }
    , magenta : { name: 'Solarized Magenta' , code: '#d33682' , bg_class: 'a-bc-sm'  , fg_class: 'a-c-sm'  }
    }
  , 'Lunarized' : {
      base03  : { name: 'Lunarized Base03'  , code: '#360b00' , bg_class: 'a-bc-l03' , fg_class: 'a-c-l03' }
    , base02  : { name: 'Lunarized Base02'  , code: '#421307' , bg_class: 'a-bc-l02' , fg_class: 'a-c-l02' }
    , base01  : { name: 'Lunarized Base01'  , code: '#755f58' , bg_class: 'a-bc-l01' , fg_class: 'a-c-l01' }
    , base00  : { name: 'Lunarized Base00'  , code: '#836d65' , bg_class: 'a-bc-l00' , fg_class: 'a-c-l00' }
    , base0   : { name: 'Lunarized Base0'   , code: '#968583' , bg_class: 'a-bc-l0'  , fg_class: 'a-c-l0'  }
    , base1   : { name: 'Lunarized Base1'   , code: '#a19393' , bg_class: 'a-bc-l1'  , fg_class: 'a-c-l1'  }
    , base2   : { name: 'Lunarized Base2'   , code: '#d5dbee' , bg_class: 'a-bc-l2'  , fg_class: 'a-c-l2'  }
    , base3   : { name: 'Lunarized Base3'   , code: '#e3eafd' , bg_class: 'a-bc-l3'  , fg_class: 'a-c-l3'  }
    , cyan    : { name: 'Lunarized Cyan'    , code: '#23cdd0' , bg_class: 'a-bc-lc'  , fg_class: 'a-c-lc'  }
    , blue    : { name: 'Lunarized Blue'    , code: '#34b4e9' , bg_class: 'a-bc-lb'  , fg_class: 'a-c-lb'  }
    , indigo  : { name: 'Lunarized Indigo'  , code: '#4a76ff' , bg_class: 'a-bc-li'  , fg_class: 'a-c-li'  }
    , violet  : { name: 'Lunarized Violet'  , code: '#7a66ff' , bg_class: 'a-bc-lv'  , fg_class: 'a-c-lv'  }
    , red     : { name: 'Lunarized Red'     , code: '#d55e67' , bg_class: 'a-bc-lr'  , fg_class: 'a-c-lr'  }
    , orange  : { name: 'Lunarized Orange'  , code: '#d9742d' , bg_class: 'a-bc-lo'  , fg_class: 'a-c-lo'  }
    , yellow  : { name: 'Lunarized Yellow'  , code: '#938e3b' , bg_class: 'a-bc-ly'  , fg_class: 'a-c-ly'  }
    , green   : { name: 'Lunarized Green'   , code: '#2cc97d' , bg_class: 'a-bc-lg'  , fg_class: 'a-c-lg'  }
    }
  }
  /*
   * A set of themes comprised of four parameters:
   * 1. mode              - either dark or light (independent of scheme)
   * 2. foreground scheme - a set of colors used for the foreground bases
   * 3. background scheme - a set of colors used for the background bases
   * 4. accent scheme     - a set of colors used for the accent colors
   * Example:
   * var context = {
   *   'Solarized': {
   *     dark: {
   *       text : { class : 'a-c-s0', name: 'Solarized Base0' }
   *     , emph : { ... }
   *     , ...
   *     }
   *   , light: { ... }
   *     accents: {
   *       ctl : { class : 'a-c-sr', name: 'Solarized Red' }
   *     , opr : { ... }
   *     , ...
   *     }
   *   }
   * , 'Lunarzied': { ... }
   * }
   */
  var context = {}
  ;(function () {
    var bases = {
      text : {
        ground: 'fg'
      , color: {
          dark:  'base0'
        , light: 'base00'
        }
      }
    , emph : {
        ground: 'fg'
      , color: {
          dark:  'base1'
        , light: 'base01'
        }
      }
    , deemph : {
        ground: 'fg'
      , color: {
          dark:  'base01'
        , light: 'base1'
        }
      }
    , hilite : {
        ground: 'bg'
      , color: {
          dark:  'base02'
        , light: 'base2'
        }
      }
    , bg : {
        ground: 'bg'
      , color: {
          dark:  'base03'
        , light: 'base3'
        }
      }
    }
    var accents = {
      ctl: { color: 'red'     }
    , opr: { color: 'orange'  }
    , kwd: { color: 'yellow'  }
    , cst: { color: 'green'   }
    , str: { color: 'cyan'    }
    , cmd: { color: 'blue'    }
    , arg: { color: 'indigo'  , color_alt : 'violet' }
    , obj: { color: 'magenta' , color_alt : 'violet' }
    }
    for (var sch in scheme) {
      context[sch] = {}
      context[sch].dark = {}
      context[sch].light = {}
      for (var mod of ['dark','light']) {
        for (var comp in bases) {
          context[sch][mod][comp] = {
            class: scheme[sch][bases[comp].color[mod]][bases[comp].ground+'_class']
          , name:  scheme[sch][bases[comp].color[mod]].name
          }
        }
      }
      context[sch].accent = {}
      for (var acc in accents) {
        var colortest = scheme[sch][accents[acc].color] || scheme[sch][accents[acc].color_alt]
        context[sch].accent[acc] = {
          class: colortest.fg_class
        , name:  colortest.name
        }
      }
    }
  })()
  /*
   * Returns a set of colors for a theme.
   * @param settings - an object with four properties:
   *                   1. `mode`      - ['dark'|'light']
   *                   2. `fg_scheme` - ['Solarized'|'Lunarized']
   *                   3. `bg_scheme` - ['Solarized'|'Lunarized']
   *                   4. `ac_scheme` - ['Solarized'|'Lunarized']
   * @returns - an object with a number of colors corresponding to the theme.
   */
  function createTheme(settings) {
    var empty_color = { class: '' , name: '' }
    return {
      settings : settings
    , text   : (settings.fg_scheme && settings.mode) ? context[settings.fg_scheme][settings.mode].text   : empty_color
    , emph   : (settings.fg_scheme && settings.mode) ? context[settings.fg_scheme][settings.mode].emph   : empty_color
    , deemph : (settings.fg_scheme && settings.mode) ? context[settings.fg_scheme][settings.mode].deemph : empty_color
    , hilite : (settings.bg_scheme && settings.mode) ? context[settings.bg_scheme][settings.mode].hilite : empty_color
    , bg     : (settings.bg_scheme && settings.mode) ? context[settings.bg_scheme][settings.mode].bg     : empty_color
    , ctl    : (settings.ac_scheme) ? context[settings.ac_scheme].accent.ctl : empty_color
    , opr    : (settings.ac_scheme) ? context[settings.ac_scheme].accent.opr : empty_color
    , kwd    : (settings.ac_scheme) ? context[settings.ac_scheme].accent.kwd : empty_color
    , cst    : (settings.ac_scheme) ? context[settings.ac_scheme].accent.cst : empty_color
    , str    : (settings.ac_scheme) ? context[settings.ac_scheme].accent.str : empty_color
    , cmd    : (settings.ac_scheme) ? context[settings.ac_scheme].accent.cmd : empty_color
    , arg    : (settings.ac_scheme) ? context[settings.ac_scheme].accent.arg : empty_color
    , obj    : (settings.ac_scheme) ? context[settings.ac_scheme].accent.obj : empty_color
    }
  }
  var preset_theme = {
    solarized_dark : createTheme({
      mode: 'dark'
    , bg_scheme: 'Solarized'
    , fg_scheme: 'Solarized'
    , ac_scheme: 'Solarized'
    })
  , solarized_light : createTheme({
      mode: 'light'
    , bg_scheme: 'Solarized'
    , fg_scheme: 'Solarized'
    , ac_scheme: 'Solarized'
    })
  , lunarized_dark : createTheme({
      mode: 'dark'
    , bg_scheme: 'Lunarized'
    , fg_scheme: 'Lunarized'
    , ac_scheme: 'Lunarized'
    })
  , lunarized_light : createTheme({
      mode: 'light'
    , bg_scheme: 'Lunarized'
    , fg_scheme: 'Lunarized'
    , ac_scheme: 'Lunarized'
    })
  , solarized_dark_mod : createTheme({
      mode: 'dark'
    , bg_scheme: 'Solarized'
    , fg_scheme: 'Solarized'
    , ac_scheme: 'Lunarized'
    })
  , solarized_light_mod : createTheme({
      mode: 'light'
    , bg_scheme: 'Solarized'
    , fg_scheme: 'Lunarized'
    , ac_scheme: 'Solarized'
    })
  , lunarized_dark_mod : createTheme({
      mode: 'dark'
    , bg_scheme: 'Lunarized'
    , fg_scheme: 'Solarized'
    , ac_scheme: 'Lunarized'
    })
  , lunarized_light_mod : createTheme({
      mode: 'light'
    , bg_scheme: 'Lunarized'
    , fg_scheme: 'Lunarized'
    , ac_scheme: 'Solarized'
    })
  }
